/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* BEGINNING OF CODE*/

body {
	font-family: Helvetica,Arial,sans-serif;
	background-color: #008B8B;
	color: white;
}

div {
	text-align: center;
}

#header {
	margin-top: 85px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid;
	border-radius: 100%;
	border-color: white;
	width: 200px;
	height: 200px;
}

h1 {
	padding-top: 58px;
	font-size: 2em;
	margin: 0;
}

#namePart {
	font-size: 0.85em;
}

.categories {
	border: 1px solid;
	border-radius: 100%;
	border-color: white;
	width: 160px;
	height: 160px;
	text-align: center;
	font-size: 1.35em;
}

#education {
	position: absolute;
	left: 420px;
	top: 191px;
}

#personal {
	position: absolute;
	right: 420px;
	top: 191px;
}

#work {
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
}

#eduLabel {
	padding-top: 65px;
}

#workLabel {
	padding-top: 40px;
}

#personalLabel {
	padding-top: 65px;	
}

.clicked {
	background-color: white;
	color: #008B8B;
}

#educationContent {
	position: absolute;
	left: 110px;
	top: 191px;
	height: 190px;
	width: 270px;
	border: 1px solid;
	border-color: white;
	border-radius: 10px;
}

#yaleLogo {
	margin-top: 20px;
}

#eduCaption {
	padding-top: 10px;
}

.workCategories {
	font-weight: bold;
	font-size: 1.25em;
	margin-top: 10px;	
}

#workContent {
	margin-top: 40px;
}

.workBoxes {
	text-align: center;
	display: inline-block;
	border: 1px solid;
	border-color: white;
	border-radius: 10px;
	height: 150px;
}

#consulting {
	width: 300px;
}

#entrepreneurship {
	margin-left: 15px;
	margin-right: 15px;
	width: 400px;
}

#hacking {
	width: 300px;
}

#personalContent {
	position: absolute;
	right: 175px;
	top: 191px;
	height: 195px;
	width: 200px;
	border: 1px solid;
	border-color: white;
	border-radius: 10px;
}

#socialLinks {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.rightLinkCell {
	padding-left: 5px;
}

table {
	border: 1px solid black;
}
