@import url("/Users/Peter/Google_Drive/Programming/reset.css");

body {
	font-family: "Gotham",Arial,sans-serif;
	background-color: #202020;
	margin: 0;
}

div {
	color: white;
	padding-left: 20px;
	margin: 0;


}

#header {
	padding-top: 20px;
	padding-left: 20px;
}

h1 {
	font-size: 4em;
	margin: 0;
}

#namePart {
	font-size: 0.85em;
}

#categoryDiv {
	width: 20%;
	display: inline-block;
	white-space: nowrap;
	float: left;
}

.categories {
	width: 20%;
	text-align: left;
	font-size: 3em;
	display: block;
	white-space: nowrap;
	padding-top: 80px;
}

#contentDiv{
	width: 60%;
	display: inline-block;
	white-space: nowrap;
	float: right;
}

.content {
	padding-top: 80px;

}

.labels {
}
